<a href="https://colab.research.google.com/github/2403A51L55/Data-M-ining-B52/blob/main/lab07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [ ]:
data = {'Category': ['A', 'B', 'C', 'A', 'B']}
df = pd.DataFrame(data)
print(df)

  Category
0        A
1        B
2        C
3        A
4        B

In [ ]:
label_encoder = LabelEncoder()
df['Label_Encoded'] = label_encoder.fit_transform(df['Category'])
print(df)

  Category  Label_Encoded
0        A              0
1        B              1
2        C              2
3        A              0
4        B              1

In [ ]:
one_hot_encoded = pd.get_dummies(df['Category'], prefix='Category')
df = pd.concat([df, one_hot_encoded], axis=1)
print(df)

  Category  Label_Encoded  Category_A  Category_B  Category_C
0        A              0        True       False       False
1        B              1       False        True       False
2        C              2       False       False        True
3        A              0        True       False       False
4        B              1       False        True       False

In [ ]:
import pandas as pd
from datetime import datetime # Import the datetime module

data = {'Name': ['Ganesh', 'Sankeerthana'], 'Date_of_Birth': ['2003-05-22', '2005-03-30']}
df = pd.DataFrame(data)
df['Date_of_Birth'] = pd.to_datetime(df['Date_of_Birth'])
current_year = datetime.now().year
df['Age'] = current_year - df['Date_of_Birth'].dt.year
print(df)

           Name Date_of_Birth  Age
0        Ganesh    2003-05-22   22
1  Sankeerthana    2005-03-30   20

In [12]:
data = {'category': ['A', 'B', 'C', 'A', 'B'],
        'values':[10,20,10,30,40]}
df = pd.DataFrame(data)

In [15]:
grouped = df.groupby('category').agg({'values': ['sum','mean']})
print("Grouped Data:\n",grouped)

Grouped Data:
          values
            sum  mean
category
A            40  20.0
B            60  30.0
C            10  10.0

In [16]:
pivot = df.pivot_table(index='category', values='values', aggfunc=['sum','mean'])
print("\nPivot Table:\n",pivot)

Pivot Table:
             sum   mean
         values values
category
A            40   20.0
B            60   30.0
C            10   10.0